<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>This is Dice Champ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/root.css">
</head>
<body>
<img id="dieOne" src="/images/animated-dice-image-0020.gif">
<img id="dieTwo" src="/images/animated-dice-image-0020.gif">
<h1 class="title">This is Dice Champ</h1>

<h3 class="instructions">Log In or Sign Up to Play</h3>

<div class="spacer">
	<div class="login">
		<a class="text" href="/login">Log In</a>
	</div>
</div>

<div class="spacer">
	<div class="signup">
		<a class="text" href="/signup">Sign Up</a>
	<div class="spacer">
	</div>
	</div>
</div>

</body>
</html>