<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>This is Dice Champ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
</head>
<body>
<h1>This is Dice Champ</h1>

<h3>Log In or Sign Up to Play</h3>

<a href="/login">Log In</a>
<a href="/signup">Sign Up</a>

</body>
</html>