<!DOCTYPE html>
<html>
<head>
	<title>Sign Up for Dice Champ</title>
</head>
<body>
<h1>Sign up for Dice Champ</h1>

<form action="/signup" method="POST">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="email" placeholder="Enter Email">
	<input type="text" name="username" placeholder="Enter Username">
	<input type="password" name="password" placeholder="Enter a password">
	<button>Sign Up</button>
</form>

</body>
</html>