<!DOCTYPE html>
<html>
<head>
	<title>Sign Up for Dice Champ</title>
	<link rel="stylesheet" href="css/root.css">
</head>
<body>
<img id="dieOne" src="/images/animated-dice-image-0020.gif">
<img id="dieTwo" src="/images/animated-dice-image-0020.gif">
<h1 class="title">Sign up for Dice Champ</h1>

<form action="/signup" method="POST">
	<input type="text" name="name" placeholder="Name"><br>
	<input type="text" name="email" placeholder="Enter Email"><br>
	<input type="text" name="username" placeholder="Enter Username"><br>
	<input type="password" name="password" placeholder="Enter a password"><br>
	<button>Sign Up</button>
</form>

</body>
</html>