<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Single Player</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.js"></script>
	<script src="js/single_player_index.js"></script>
	<link rel="stylesheet" href="css/single_player_index.css">
</head>
<body>
<div class="wrapper">
	<h1 id="singleplayer-title">Single Player Career Mode</h1>
	<h3 id="description">Click on a City to Play</h3>
</div>
<img id="singleplayer-map" src="images/usamap.png">
	<div class="city" id="st-louis"></div>
	<div class="city" id="nyc"></div>
	<div class="city" id="detroit"></div>
	<div class="city" id="baltimore"></div>
</body>
</html>