<!DOCTYPE html>
<html>
<head>
	<title>Cee-lo!</title>
	<script src="js/jquery.js"></script>
	<script src="js/singleplayer_nyc.js"></script>
	<link rel="stylesheet" href="css/singleplayer_nyc.css">
	<script src="js/cee-lo_rules_modal.js"></script>

</head>
<body>
<h1>Welcome to NYC</h1>
<button id="rules">See the Rules</button>
<div class="modal">
	<h1>Cee-Lo Rules</h1>
	<p>-Cee-Lo is a game played with three dice. It can have two or more players.<br><br>-In Cee-Lo, two of the dice must match in order to qualify. The die that is not part of the match is your qualifying number.<br><br>-For example, if you roll two 6's and one 4, your qualifying score is a 4. If the other player rolls two 4's and 6, they win because their qualifying die was higher than yours.<br><br>-Three of a kind beats any pair.<br><br>-A 1, 2, 3 is an automatic loss.<br><br>-A 4, 5, 6 is an automatic win.<br><br>-The winner of the previous round is the first to roll on the next round.<br><br><br></p><h3>Click anywhere to close.</h3>
</div>

<div id="bankroll"></div>
<div id="urbet"></div>
<button id="five">$5</button>
<button id="ten">$10</button>
<button id="twentyfive">$25</button>
<button id="fifty">$50</button>
<button id="clear-bet">Clear Bet</button>

<div class="text-banner"></div>
<div id="counter"></div>

<div class="test-div"></div>

<button id="roll-dice">Roll Dice</button>

</body>
</html>