<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>STL</title>
	<script src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/st-louis.css">
	<script src="js/street_dice.js"></script>
	<script src="js/street_dice_rules_modal.js"></script>
</head>
<body>
<h1 class="title">Welcome to St. Louis</h1>
<button id="rules">See the Rules</button>
<div class="modal">
	<h1>Rules for Street Craps</h1>
	<p>-Street craps is a two person game palyed with two dice.<br><br>-The first roll in this game is very important.<br><br>-Any time a player loses a game, they surrender the dice to the other player.<br><br>-If the player rolls a 2, 3, or 12 on the first roll, that is a loss, the other player wins the money in the pot and will have a chance to roll.<br><br>-If the player rolls a 7 or 11 on the first roll, that is a win. The player wins the pot, and rolls again.<br><br>-If the player rolls any other number, they must roll that number again before they roll a 7 to win. If you do not roll their number on or before their 7th roll, that is also a loss, and the dice are surrendered.</p><br><br><h3>Click anywhere to close</h3>
</div>
<div class="text-banner"></div>

<div id="counter"></div>


<div class="test-div"></div>

<button id="roll-dice">Roll Dice</button>

</body>
</html>