<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Welcome to Dice Champ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
</head>
<body>
<h1>Testing</h1>

</body>
</html>