<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Welcome to Dice Champ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.js"></script>
	<link rel="stylesheet" href="css/root.css">
</head>
<body>
<img id="dieOne" src="/images/animated-dice-image-0020.gif">
<img id="dieTwo" src="/images/animated-dice-image-0020.gif">

<h1 class="title">Welcome to Dice Champ</h1>
<div class="wrapper">
	<a class="text" href="/singleplayer">One Player</a><br>
</div>
<div class="wrapper">
	<a class="text" href="/multiplayer">Two Player(coming soon)</a><br>
</div>
<div class="wrapper">
	<a class="text" href="/logout">Logout</a>
</div>

</body>
</html>