.wrapper{
	background-color: #388697;
	height: 50px;
	width: 400px;
	margin-left: 35%;
	margin-top: 2%;
	border-radius: 10px;
}
input {
	padding-top: 10px;
}

form {
	margin-left: 45%;
}

body {
	background-color: #1D1A31;
}

#dieOne {
	float: right;
	margin-right: 5%;
	margin-top: 5%;
}

#dieTwo {
	margin-left: 5%;
	margin-top: 5%;
}

.login, .signup {
	background-color: #388697;
	float: left;
	margin-left: 100%;
	text-align: center;
	top: 60%;
	height: 100px;
	width: 40%;
	border-radius: 10px;
	margin-top: 100px;


}

.text {
	font-size: 25px;
	margin-top: auto;
	color: white;
	margin-left: 20%;
}

.spacer {
	width: 30%;
	float: left;
}

.title {
	margin-top: 60px;
	text-align: center;
	color: #FA8334;
	font-size: 4em;
}

.instructions {
	font-size: 2em;
	text-align: center;
	color: #FA8334;
}